.redGradient {
    background: linear-gradient(90.56deg,#27061a,#ff6363 29.69%,#9b4dff 52.6%,#100321 98.44%);
}

.purpleGradient {
    background: linear-gradient(107.56deg, rgb(220, 249, 255), rgb(98, 29, 186) 48.44%, rgb(4, 0, 28) 95.31%);
}

.greenGradient {
    background: linear-gradient(114.88deg, rgb(60, 208, 255), rgb(11, 0, 80));
}